

body{
    display: grid;
    grid-template-rows: 0.5fr auto;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* img{
    width: 100%;
} */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   width: 80%;
   margin: 0 auto;
}

.options{
    display: flex;
    flex: 1;
    width: 80%;
    justify-content: center;
}

#score{
    display: flex;
    gap: 10px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
